
<ion-tabs class="tabs-icon tabs-background-positive tabs-color-light">

  <!-- Agenda Tab -->
  <ion-tab title="Article" icon-off="ion-social-rss" icon-on="ion-social-rss" href="#/tab/article">
    <ion-nav-view name="tab-article"></ion-nav-view>
  </ion-tab>

  <!-- Feeds Tab -->
  <ion-tab title="Feeds" icon-off="ion-images" icon-on="ion-images" href="#/tab/feeds">
    <ion-nav-view name="tab-feeds"></ion-nav-view>
  </ion-tab>

  <!-- Favoritos Tab -->
  <ion-tab title="Favoritos" icon-off="ion-heart" icon-on="ion-heart" href="#/tab/favoritos">
    <ion-nav-view name="tab-favoritos"></ion-nav-view>
  </ion-tab>

  <!-- Ajustes Tab -->
  <ion-tab title="Ajustes" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
